[core]
    hooksPath = .githooks

[alias]
    sync = "!f() { CURRENT=$(git symbolic-ref --short HEAD 2>/dev/null); if [ \"$CURRENT\" = \"main\" ] || [ \"$CURRENT\" = \"dev\" ]; then echo \"Error: You cannot run 'git sync' directly on $CURRENT.\"; exit 1; fi; git fetch origin && git rebase origin/dev; }; f"
    pf = push --force-with-lease

[push]
    autoSetupRemote = true

[rebase]
    autoStash = true